footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 225px;
    background-color: $bgfooter;
    .contact{
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        h2{
            color: $txtfooter;
        }
        p:first-of-type{
            color: $txtfooter;
        }
    .imgfooter{
        margin-top: 10px;
        font-size: 40px;
        color: $iconsfooter;
        padding-bottom: 25px;
    }
    .copyright{
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: $bgcolor;
    }
        p{
            font-size: 10px;
        }
}