$bgcolor : rgb(54, 59, 71);
$bleuciel : rgb( 38,162,204);
$carre : rgb(226,224,224);
$grisfonce : rgb(128, 128, 128);
$grisclair : rgb(169,169,186);
$bgfooter : rgb(54, 118, 187);
$txtfooter : rgb(176, 197, 220);
$iconsfooter : rgb(94,145,201)